name: c-i

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  test:
    name: Test Projects
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - x86_64
    permissions:
      contents: read
    runs-on: ubuntu-24.04-${{matrix.arch}}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: chainguard-dev/actions/apt-faster@7d647f470c4d3692286221bd17ca78206976a61c # v1.5.11
      - uses: chainguard-dev/actions/setup-melange@7d647f470c4d3692286221bd17ca78206976a61c # v1.5.11
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './go.work'
          cache-dependency-path: '**/*.sum'
      - name: Setup shellcheck
        uses: ./.github/actions/shellcheck
        with:
          version: v0.10.0
      - name: lint
        run: make lint
      - name: Build
        run: make build
      - name: Test all projects
        run: |
          make test
      - name: Test in melange
        run: |
          make test-melange
