name: c-i

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  test:
    name: Test Projects
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - x86_64
    permissions:
      contents: read
    runs-on: ubuntu-24.04-${{matrix.arch}}
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: chainguard-dev/actions/apt-faster@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12
      - uses: chainguard-dev/actions/setup-melange@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: './go.work'
          cache-dependency-path: '**/*.sum'
      - name: Setup shellcheck
        uses: ./.github/actions/shellcheck
        with:
          version: v0.10.0
      - name: lint
        run: make lint
      - name: Build
        run: make build
      - name: Test all projects
        run: |
          make test
      - name: Test in melange
        run: |
          make test-melange
