name: c-i

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  test:
    name: Test Projects
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - x86_64
    permissions:
      contents: read
    runs-on: ubuntu-24.04-${{matrix.arch}}
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: chainguard-dev/actions/apt-faster@3e8a2a226fad9e1ecbf2d359b8a7697554a4ac6d # v1.5.10
      - uses: chainguard-dev/actions/setup-melange@3e8a2a226fad9e1ecbf2d359b8a7697554a4ac6d # v1.5.10
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './go.work'
          cache-dependency-path: '**/*.sum'
      - name: Setup shellcheck
        uses: ./.github/actions/shellcheck
        with:
          version: v0.10.0
      - name: lint
        run: make lint
      - name: Build
        run: make build
      - name: Test all projects
        run: |
          make test
      - name: Test in melange
        run: |
          make test-melange
